[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;application/octet-stream;
Actions=owncloudLink;
X-KDE-AuthorizeAction=shell_access

[Desktop Action owncloudLink]
Exec=owncloud_copy_link %u
Icon=owncloud
Name=Copy ownCloud link
