[Desktop Entry]
Type=Application
Exec=/usr/local/bin/owncloud_open %u
Name=Open ownCloud URL
Icon=owncloud
Categories=Utility
MimeType=x-scheme-handler/owncloud+http;x-scheme-handler/owncloud+https;x-scheme-handler/owncloud;
X-KDE-Protocols=owncloud+http;owncloud+https;owncloud
